.root {
    width: 300px;
    margin: auto;
    margin-top: 10rem;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.div_tareas {
    width: 90%;
    height: 6rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;

    display: flex;
    justify-content: space-between;
}
.botones {
    width: 90%;
    display: flex;
    justify-content: end;
}
.btn_mas {
    width: 5rem;
    height: 5rem;
    background-color: rgb(255, 0, 76);
    color: white;
    font-size: 4rem;
    font-weight: 900;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.btn_mas:hover {
    transition: 0.3s;
    background-color: rgb(124, 26, 56);
}
.nuevaTarea{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}
.lista_tareas {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.formulario {
    width: 80%;
    height: 30rem;
    background-color: rgb(175, 173, 173);
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    display: none;
    text-align: center;
}
.formulario input{
    width: 30rem;
    height: 2.5rem;
}

.div_controles {
    width: 100%;

    display: flex;
    justify-content: end;
}
.btn_cerrar {
    padding: 0.5rem;
    font-size: 3rem;
    font-weight: 600;

    cursor: pointer;
}
.btn_cerrar:hover {
    color: rgb(242, 4, 4);
}

.btn-crear {
    max-width: 15rem;
    background-color: rgba(224, 223, 223, 0.63);
    padding: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 14.5rem;

}
.btn-crear:hover{
    background-color: rgb(112, 112, 112);
}
#categoria{
    display: none;
}



.ocultar {
    display: none;
}
.activar_b {
    display: block;
    width: 45rem;
    height: 20rem;
}
.activar_f {
    display: flex;
}
.activar_g {
    display: grid;
}